<a href="https://colab.research.google.com/github/670510767/Lawitra-Phanpanich/blob/main/Lab02_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve

# For Fashion-MNIST
from tensorflow.keras.datasets import fashion_mnist

# For 20 Newsgroups
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## Part 1: Marketing Campaign Dataset - Manual Data Preprocessing & Logistic Regression

### Load the Marketing Campaign Dataset ([Data Information](https://archive.ics.uci.edu/dataset/222/bank+marketing))

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be (`'yes'`) or not (`'no'`) subscribed.

In [2]:
bank_url = 'https://raw.githubusercontent.com/donlap/ds352-labs/main/bank.csv'

df = pd.read_csv(bank_url, sep=';', na_values=['unknown'])
df = df.drop(["emp.var.rate", "cons.price.idx", "cons.conf.idx",	"euribor3m", "nr.employed"], axis=1)
print("Shape of the dataset:", df.shape)
df.head()

Shape of the dataset: (41188, 16)

   age        job  marital    education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome   y
0   56  housemaid  married     basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent  no
1   57   services  married  high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent  no
2   37   services  married  high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent  no
3   40     admin.  married     basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent  no
4   56   services  married  high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent  no

### Data Exploration

In [3]:
print("--- Missing Values Count ---")
print(df.isnull().sum())

--- Missing Values Count ---
age               0
job             330
marital          80
education      1731
default        8597
housing         990
loan            990
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
y                 0
dtype: int64

In [4]:
print("--- Unique Values for Categorical Columns ---")
for col in df.select_dtypes(include='object').columns:
    print(f"\n'{col}' unique values:")
    print(df[col].value_counts(dropna=False)) # Include NaN counts

--- Unique Values for Categorical Columns ---

'job' unique values:
job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
NaN                330
Name: count, dtype: int64

'marital' unique values:
marital
married     24928
single      11568
divorced     4612
NaN            80
Name: count, dtype: int64

'education' unique values:
education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
NaN                     1731
illiterate                18
Name: count, dtype: int64

'default' unique values:
default
no     32588
NaN     8597
yes        3
Name: count, dtype: int64

'housing' unique values:
housing
yes    21576
no     18622
NaN      990
Name: count, dtype: int64

'loan' unique values:
loan
no     33950
yes     6248
NaN      990
Name: count, dtype: int64

'contact' unique values:
contact
cellular     26144
telephone    15044
Name: count, dtype: int64

'month' unique values:
month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64

'day_of_week' unique values:
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64

'poutcome' unique values:
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64

'y' unique values:
y
no     36548
yes     4640
Name: count, dtype: int64

### Data Preprocessing

In [5]:

# Map target variable 'y' to 0 (no) and 1 (yes)
df['y_new'] = df['y'].map({'yes': 1,'no': 0}) # Write your code here


# Drop 'duration' due to data leakage


# Define features (X) and target (y)
y = df['y_new']
x = df.drop(['y', 'y_new'], axis=1)

print(x)
print(y)

       age          job  marital            education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
0       56    housemaid  married             basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent
1       57     services  married          high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent
2       37     services  married          high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent
3       40       admin.  married             basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent
4       56     services  married          high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent
...    ...          ...      ...                  ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
41183   73      retired  married  professional.course      no     yes   no   cellular   nov         fri       334         1    999         0  nonexistent
41184   46  blue-collar  married  professional.course      no      no   no   cellular   nov         fri       383         1    999         0  nonexistent
41185   56      retired  married    university.degree      no     yes   no   cellular   nov         fri       189         2    999         0  nonexistent
41186   44   technician  married  professional.course      no      no   no   cellular   nov         fri       442         1    999         0  nonexistent
41187   74      retired  married  professional.course      no     yes   no   cellular   nov         fri       239         3    999         1      failure

[41188 rows x 15 columns]
0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y_new, Length: 41188, dtype: int64

In [6]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

x_test

       age            job  marital            education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
32552   34     technician  married             basic.9y      no     yes  yes   cellular   may         mon       142         4    999         0  nonexistent
10372   24       services  married          high.school      no     yes   no  telephone   jun         mon       298         6    999         0  nonexistent
6813    36   entrepreneur  married    university.degree      no      no   no  telephone   may         wed       386         3    999         0  nonexistent
35281   39         admin.  married    university.degree      no      no   no   cellular   may         fri       895         5    999         1      failure
22258   56  self-employed  married             basic.9y      no     yes   no   cellular   aug         thu       107         3    999         0  nonexistent
...    ...            ...      ...                  ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
9436    54    blue-collar  married             basic.4y      no      no   no  telephone   jun         fri        28         6    999         0  nonexistent
5812    43       services  married          high.school      no      no   no  telephone   may         mon       207         2    999         0  nonexistent
8914    54     technician   single    university.degree     NaN      no   no  telephone   jun         thu       594         3    999         0  nonexistent
37351   60         admin.  married  professional.course      no      no   no   cellular   aug         tue        66         1    999         0  nonexistent
8232    49     technician  married             basic.6y     NaN      no   no  telephone   jun         tue        88         2    999         0  nonexistent

[12357 rows x 15 columns]

We will apply `StandardScaler()`, `OrdinalEncoder()`, and `OneHotEncoder()` on a few selected columns.

**1. Numerical Feature: `age` and `campaign` (Standard Scaling)**

In [7]:
num_cols_demo = ['age', 'campaign']

scaler = StandardScaler()

x_train[num_cols_demo] = scaler.fit_transform(x_train[num_cols_demo])
x_test[num_cols_demo] = scaler.transform(x_test[num_cols_demo])

# Fit the scaler ONLY on the training data


#X_train_scaled_demo = # Write your code here
#X_test_scaled_demo = # Write your code here

In [8]:

x_train.describe()

                age      duration      campaign         pdays      previous
count  2.883100e+04  28831.000000  2.883100e+04  28831.000000  28831.000000
mean   5.717662e-17    258.670008 -5.076890e-17    963.316500      0.171725
std    1.000017e+00    259.946350  1.000017e+00    184.833954      0.490944
min   -2.201336e+00      0.000000 -5.648562e-01      0.000000      0.000000
25%   -7.652423e-01    102.000000 -5.648562e-01    999.000000      0.000000
50%   -1.908050e-01    179.000000 -2.040336e-01    999.000000      0.000000
75%    6.708510e-01    320.000000  1.567891e-01    999.000000      0.000000
max    5.553568e+00   4918.000000  1.458970e+01    999.000000      6.000000

In [9]:

print("\nOriginal X_train 'age' and 'campaign' head:")
print(x_train[num_cols_demo].head())
print("\nScaled X_train 'age' and 'campaign' head:")
print(pd.DataFrame(x_train[num_cols_demo], columns=num_cols_demo, index=x_train.index).head())

print("\nMean of scaled 'age' (train):", x_train[num_cols_demo].iloc[:, 0].mean())
print("Std Dev of scaled 'campaign' (train):", x_train[num_cols_demo].iloc[:, 1].std())

Original X_train 'age' and 'campaign' head:
            age  campaign
18873  1.915465 -0.564856
19651 -0.382284  0.156789
12679 -0.669503  0.156789
25151  0.479372 -0.564856
27695 -1.339680  0.517612

Scaled X_train 'age' and 'campaign' head:
            age  campaign
18873  1.915465 -0.564856
19651 -0.382284  0.156789
12679 -0.669503  0.156789
25151  0.479372 -0.564856
27695 -1.339680  0.517612

Mean of scaled 'age' (train): 5.717662054605919e-17
Std Dev of scaled 'campaign' (train): 1.0000173428949166

**2. Ordinal Feature: `education` (Ordinal Encoding with Imputation)**

- **Imputation**

In [10]:

ord_col_demo = ['education']

imputer_ord = SimpleImputer(strategy='most_frequent')

## Write your code here
x_train[ord_col_demo] = imputer_ord.fit_transform(x_train[ord_col_demo])
x_test[ord_col_demo] = imputer_ord.transform(x_test[ord_col_demo])
x_train['education']

18873      university.degree
19651            high.school
12679               basic.6y
25151    professional.course
27695               basic.9y
                ...
8141             high.school
36066      university.degree
10303               basic.9y
13522               basic.9y
33246            high.school
Name: education, Length: 28831, dtype: object

- **Ordinal Encoding**

In [11]:
education_categories = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
]

In [12]:

ordinal_encoder = OrdinalEncoder(categories=[education_categories])

## Write your code here
x_train[ord_col_demo] = ordinal_encoder.fit_transform(x_train[ord_col_demo])
x_test[ord_col_demo] = ordinal_encoder.transform(x_test[ord_col_demo])

x_test

            age            job  marital  education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
32552 -0.573763     technician  married        3.0      no     yes  yes   cellular   may         mon       142  0.517612    999         0  nonexistent
10372 -1.531159       services  married        4.0      no     yes   no  telephone   jun         mon       298  1.239257    999         0  nonexistent
6813  -0.382284   entrepreneur  married        6.0      no      no   no  telephone   may         wed       386  0.156789    999         0  nonexistent
35281 -0.095065         admin.  married        6.0      no      no   no   cellular   may         fri       895  0.878434    999         1      failure
22258  1.532507  self-employed  married        3.0      no     yes   no   cellular   aug         thu       107  0.156789    999         0  nonexistent
...         ...            ...      ...        ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
9436   1.341028    blue-collar  married        1.0      no      no   no  telephone   jun         fri        28  1.239257    999         0  nonexistent
5812   0.287893       services  married        4.0      no      no   no  telephone   may         mon       207 -0.204034    999         0  nonexistent
8914   1.341028     technician   single        6.0     NaN      no   no  telephone   jun         thu       594  0.156789    999         0  nonexistent
37351  1.915465         admin.  married        5.0      no      no   no   cellular   aug         tue        66 -0.564856    999         0  nonexistent
8232   0.862330     technician  married        2.0     NaN      no   no  telephone   jun         tue        88 -0.204034    999         0  nonexistent

[12357 rows x 15 columns]

In [13]:

print("\nOriginal X_train 'education' head:")
print(x_train[ord_col_demo].iloc[20:25])
print("\nImputed X_train 'education' head (after imputer.transform):")
print(pd.DataFrame(x_train[ord_col_demo], columns=ord_col_demo, index=x_train.index).iloc[20:25])
print("\nOrdinal Encoded X_train 'education' head:")
print(pd.DataFrame(x_train[ord_col_demo], columns=ord_col_demo, index=x_train.index).iloc[20:25])

Original X_train 'education' head:
       education
17146        4.0
35626        4.0
5033         5.0
27729        3.0
2942         5.0

Imputed X_train 'education' head (after imputer.transform):
       education
17146        4.0
35626        4.0
5033         5.0
27729        3.0
2942         5.0

Ordinal Encoded X_train 'education' head:
       education
17146        4.0
35626        4.0
5033         5.0
27729        3.0
2942         5.0

**3. Nominal Feature: `job` (One-Hot Encoding with Imputation)**

- **Imputation**

In [14]:
nom_col_demo = ['job']

imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(x_train[nom_col_demo])

X_train_imputed_nom_demo = imputer_nom.transform(x_train[nom_col_demo])
X_test_imputed_nom_demo = imputer_nom.transform(x_test[nom_col_demo])

- **Nominal Encoding**

In [15]:

onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

x_train_onehot = onehot_encoder.fit_transform(x_train[['job']])
x_test_onehot = onehot_encoder.transform(x_test[['job']])

x_train_onehot.shape

(28831, 12)

In [16]:

x_train_onehot

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [17]:

x_train = pd.concat([x_train.reset_index(drop=True),
                     pd.DataFrame(x_train_onehot, columns=onehot_encoder.get_feature_names_out(['job']))], axis=1)
x_train = x_train.drop(['job'], axis=1)

x_train

            age   marital  education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan
0      1.915465   married        6.0     NaN      no   no   cellular   aug         mon       144 -0.564856    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0      0.0
1     -0.382284   married        4.0     NaN     yes   no   cellular   aug         thu       165  0.156789    999         0  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
2     -0.669503    single        2.0      no      no  yes   cellular   jul         mon       380  0.156789    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
3      0.479372  divorced        5.0      no     yes  yes   cellular   nov         tue       178 -0.564856    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0
4     -1.339680    single        3.0      no     yes  yes   cellular   mar         mon        78  0.517612    999         1      failure         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          1.0             0.0             0.0      0.0
...         ...       ...        ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...      ...
28826  0.000674   married        4.0      no      no   no  telephone   jun         tue       201  0.156789    999         0  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28827 -1.243940   married        6.0      no     yes   no   cellular   may         tue       139 -0.564856      1         1      success         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0
28828 -1.148201   married        3.0      no     yes  yes  telephone   jun         mon       210 -0.204034    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28829 -0.382284   married        3.0     NaN     yes   no   cellular   jul         thu       194 -0.564856    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28830  0.000674    single        4.0     NaN      no   no   cellular   may         tue       418 -0.564856    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0

[28831 rows x 26 columns]

In [18]:

x_test = pd.concat([x_test.reset_index(drop=True),
                    pd.DataFrame(x_test_onehot, columns=onehot_encoder.get_feature_names_out(['job']))], axis=1)

x_test

            age            job  marital  education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan
0     -0.573763     technician  married        3.0      no     yes  yes   cellular   may         mon       142  0.517612    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0
1     -1.531159       services  married        4.0      no     yes   no  telephone   jun         mon       298  1.239257    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0
2     -0.382284   entrepreneur  married        6.0      no      no   no  telephone   may         wed       386  0.156789    999         0  nonexistent         0.0              0.0               1.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
3     -0.095065         admin.  married        6.0      no      no   no   cellular   may         fri       895  0.878434    999         1      failure         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
4      1.532507  self-employed  married        3.0      no     yes   no   cellular   aug         thu       107  0.156789    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                1.0           0.0          0.0             0.0             0.0      0.0
...         ...            ...      ...        ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...      ...
12352  1.341028    blue-collar  married        1.0      no      no   no  telephone   jun         fri        28  1.239257    999         0  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
12353  0.287893       services  married        4.0      no      no   no  telephone   may         mon       207 -0.204034    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0
12354  1.341028     technician   single        6.0     NaN      no   no  telephone   jun         thu       594  0.156789    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0
12355  1.915465         admin.  married        5.0      no      no   no   cellular   aug         tue        66 -0.564856    999         0  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
12356  0.862330     technician  married        2.0     NaN      no   no  telephone   jun         tue        88 -0.204034    999         0  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0

[12357 rows x 27 columns]

In [19]:

print("\nOriginal X_train 'job' head:")
# The 'job' column was dropped from x_train in a previous step, so trying to access it directly will cause a KeyError.
# If you want to see the original imputed job values, use X_train_imputed_nom_demo.
# print(x_train[nom_col_demo].iloc[40:45]) # This line causes the KeyError
print("\nImputed X_train 'job' head (after imputer.transform):")
print(pd.DataFrame(X_train_imputed_nom_demo, columns=nom_col_demo, index=x_train.index).iloc[40:45])
print("\nOne-Hot Encoded X_train 'job' shape:", x_train_onehot.shape)
print("First 5 rows of One-Hot Encoded X_train 'job':")
print(pd.DataFrame(x_train_onehot, columns=onehot_encoder.get_feature_names_out(nom_col_demo), index=x_train.index).iloc[40:45])

Original X_train 'job' head:

Imputed X_train 'job' head (after imputer.transform):
            job
40   unemployed
41  blue-collar
42  blue-collar
43   technician
44  blue-collar

One-Hot Encoded X_train 'job' shape: (28831, 12)
First 5 rows of One-Hot Encoded X_train 'job':
    job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan
40         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             1.0      0.0
41         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
42         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
43         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0
44         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0

### **Exercise 1: Apply All Preprocessing & Train Logistic Regression**

Now, it's your turn to apply these preprocessing steps to *all* relevant columns and then train a Logistic Regression model.

**Instructions:**

1.  Look at the Variable Table in [this link](https://archive.ics.uci.edu/dataset/222/bank+marketing).
2. Make lists for `numerical_features`, `ordinal_features`, and `nominal_features`.
3. Preprocess the features. It is safer to make a copy of `X_train` using:
   ```
   X_train_copy = X_train.copy()
   X_test_copy = X_test.copy()
   ```
   and preprocess `X_train_copy` instead.

   **For nominal features, concat the one-hot encoded features using [`pd.concat(..., axis=1)`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) and drop the old nominal features from the dataframe.**
4. Train Logistic Regression on the preprocessed `X_train_copy` and `y_train`.
5. Evaluate the Model:
    *   Make predictions on the preprocessed `X_test_copy`.
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [20]:
# --- YOUR CODE FOR EXERCISE 1 STARTS HERE ---

bank_url = 'https://raw.githubusercontent.com/donlap/ds352-labs/main/bank.csv'

df = pd.read_csv(bank_url, sep=';', na_values=['unknown'])
df = df.drop(["emp.var.rate", "cons.price.idx", "cons.conf.idx",	"euribor3m", "nr.employed"], axis=1)
print("Shape of the dataset:", df.shape)
df.head()

Shape of the dataset: (41188, 16)

   age        job  marital    education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome   y
0   56  housemaid  married     basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent  no
1   57   services  married  high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent  no
2   37   services  married  high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent  no
3   40     admin.  married     basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent  no
4   56   services  married  high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent  no

In [21]:

numerical_features = ['age', 'duration', 'campaign', 'pdays', 'previous']
ordinal_features = ['education']
nominal_features = ['marital', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'day_of_week']

In [22]:
x_train_copy = x_train.copy()
x_test_copy = x_test.copy()

numericalm

In [23]:

scaler = StandardScaler()

x_train_copy[numerical_features] = scaler.fit_transform(x_train_copy[numerical_features]) # Apply to all numerical_features
x_test_copy[numerical_features] = scaler.transform(x_test_copy[numerical_features]) # Apply to all numerical_features

In [24]:

x_train_copy.describe()

                age     education      duration      campaign         pdays      previous    job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management   job_retired  job_self-employed  job_services   job_student  job_technician  job_unemployed       job_nan
count  2.883100e+04  28831.000000  2.883100e+04  2.883100e+04  2.883100e+04  2.883100e+04  28831.000000     28831.000000      28831.000000   28831.000000    28831.000000  28831.000000       28831.000000  28831.000000  28831.000000    28831.000000    28831.000000  28831.000000
mean   4.436117e-18      4.234678  1.076375e-16 -2.119478e-17 -3.048598e-16  5.717662e-17      0.251951         0.223336          0.034650       0.025251        0.069578      0.042628           0.034720      0.098470      0.021262        0.164406        0.025944      0.007804
std    1.000017e+00      1.642610  1.000017e+00  1.000017e+00  1.000017e+00  1.000017e+00      0.434141         0.416489          0.182895       0.156888        0.254439      0.202020           0.183072      0.297955      0.144258        0.370650        0.158972      0.087997
min   -2.201336e+00      0.000000 -9.951072e-01 -5.648562e-01 -5.211884e+00 -3.497909e-01      0.000000         0.000000          0.000000       0.000000        0.000000      0.000000           0.000000      0.000000      0.000000        0.000000        0.000000      0.000000
25%   -7.652423e-01      3.000000 -6.027118e-01 -5.648562e-01  1.930604e-01 -3.497909e-01      0.000000         0.000000          0.000000       0.000000        0.000000      0.000000           0.000000      0.000000      0.000000        0.000000        0.000000      0.000000
50%   -1.908050e-01      4.000000 -3.064917e-01 -2.040336e-01  1.930604e-01 -3.497909e-01      0.000000         0.000000          0.000000       0.000000        0.000000      0.000000           0.000000      0.000000      0.000000        0.000000        0.000000      0.000000
75%    6.708510e-01      6.000000  2.359374e-01  1.567891e-01  1.930604e-01 -3.497909e-01      1.000000         0.000000          0.000000       0.000000        0.000000      0.000000           0.000000      0.000000      0.000000        0.000000        0.000000      0.000000
max    5.553568e+00      6.000000  1.792451e+01  1.458970e+01  1.930604e-01  1.187177e+01      1.000000         1.000000          1.000000       1.000000        1.000000      1.000000           1.000000      1.000000      1.000000        1.000000        1.000000      1.000000


Ordinal Encoding

In [25]:
x_train_copy['education'].unique()

array([6., 4., 2., 5., 3., 1., 0.])

In [26]:

x_train_copy['education'] = x_train_copy['education'].astype(float)
x_test_copy['education'] = x_test_copy['education'].astype(float)

In [27]:
x_train_copy

            age   marital  education default housing loan    contact month day_of_week  duration  campaign     pdays  previous     poutcome  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_nan
0      1.915465   married        6.0     NaN      no   no   cellular   aug         mon -0.441137 -0.564856  0.193060 -0.349791  nonexistent         0.0              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0      0.0
1     -0.382284   married        4.0     NaN     yes   no   cellular   aug         thu -0.360350  0.156789  0.193060 -0.349791  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
2     -0.669503    single        2.0      no      no  yes   cellular   jul         mon  0.466758  0.156789  0.193060 -0.349791  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
3      0.479372  divorced        5.0      no     yes  yes   cellular   nov         tue -0.310339 -0.564856  0.193060 -0.349791  nonexistent         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0      0.0
4     -1.339680    single        3.0      no     yes  yes   cellular   mar         mon -0.695040  0.517612  0.193060  1.687135      failure         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          1.0             0.0             0.0      0.0
...         ...       ...        ...     ...     ...  ...        ...   ...         ...       ...       ...       ...       ...          ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...      ...
28826  0.000674   married        4.0      no      no   no  telephone   jun         tue -0.221857  0.156789  0.193060 -0.349791  nonexistent         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28827 -1.243940   married        6.0      no     yes   no   cellular   may         tue -0.460372 -0.564856 -5.206474  1.687135      success         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0      0.0
28828 -1.148201   married        3.0      no     yes  yes  telephone   jun         mon -0.187234 -0.204034  0.193060 -0.349791  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28829 -0.382284   married        3.0     NaN     yes   no   cellular   jul         thu -0.248786 -0.564856  0.193060 -0.349791  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0
28830  0.000674    single        4.0     NaN      no   no   cellular   may         tue  0.612945 -0.564856  0.193060 -0.349791  nonexistent         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0      0.0

[28831 rows x 26 columns]

In [28]:
x_train_copy.columns.tolist()

['age',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'job_admin.',
 'job_blue-collar',
 'job_entrepreneur',
 'job_housemaid',
 'job_management',
 'job_retired',
 'job_self-employed',
 'job_services',
 'job_student',
 'job_technician',
 'job_unemployed',
 'job_nan']

In [29]:

x_test_copy.columns.tolist()

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'job_admin.',
 'job_blue-collar',
 'job_entrepreneur',
 'job_housemaid',
 'job_management',
 'job_retired',
 'job_self-employed',
 'job_services',
 'job_student',
 'job_technician',
 'job_unemployed',
 'job_nan']

Nominal Feature

In [30]:

from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split


x_train_copy, x_test_copy, y_train_exercise, y_test_exercise = train_test_split(x.copy(), y.copy(), test_size=0.3, random_state=42)

# --- Drop 'duration' from here, as the original 'x' still contains it ---
x_train_copy = x_train_copy.drop('duration', axis=1)
x_test_copy = x_test_copy.drop('duration', axis=1)

# Define feature lists for this exercise (updated with 'duration' removed from numerical)
numerical_features = ['age', 'campaign', 'pdays', 'previous']
ordinal_features = ['education']
nominal_features = ['job', 'marital', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

# --- 1. Numerical Feature Preprocessing (Standard Scaling) ---
scaler_exercise = StandardScaler()
x_train_copy[numerical_features] = scaler_exercise.fit_transform(x_train_copy[numerical_features])
x_test_copy[numerical_features] = scaler_exercise.transform(x_test_copy[numerical_features])

# --- 2. Ordinal Feature Preprocessing (Imputation & Encoding) ---

# Impute missing values for ordinal features
imputer_ord_exercise = SimpleImputer(strategy='most_frequent')
x_train_copy[ordinal_features] = imputer_ord_exercise.fit_transform(x_train_copy[ordinal_features])
x_test_copy[ordinal_features] = imputer_ord_exercise.transform(x_test_copy[ordinal_features])

# Define education categories (re-defining for robustness)
education_categories_correct = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
]

ord_enc_exercise = OrdinalEncoder(categories=[education_categories_correct], handle_unknown='use_encoded_value', unknown_value=-1)
x_train_copy[ordinal_features] = ord_enc_exercise.fit_transform(x_train_copy[ordinal_features])
x_test_copy[ordinal_features] = ord_enc_exercise.transform(x_test_copy[ordinal_features])

# --- 3. Nominal Feature Preprocessing (Imputation & One-Hot Encoding) ---

# Imputation for nominal features
imputer_nom_exercise = SimpleImputer(strategy='most_frequent')
x_train_copy[nominal_features] = imputer_nom_exercise.fit_transform(x_train_copy[nominal_features])
x_test_copy[nominal_features] = imputer_nom_exercise.transform(x_test_copy[nominal_features])

# One-Hot Encoding for nominal features
ohe_exercise = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')

x_train_ohe = pd.DataFrame(ohe_exercise.fit_transform(x_train_copy[nominal_features]), index=x_train_copy.index)
x_test_ohe = pd.DataFrame(ohe_exercise.transform(x_test_copy[nominal_features]), index=x_test_copy.index)

x_train_ohe.columns = ohe_exercise.get_feature_names_out(nominal_features)
x_test_ohe.columns = ohe_exercise.get_feature_names_out(nominal_features)

# Concat one-hot encoded features and drop original nominal columns
x_train_copy = pd.concat([x_train_copy.drop(columns=nominal_features), x_train_ohe], axis=1)
x_test_copy = pd.concat([x_test_copy.drop(columns=nominal_features), x_test_ohe], axis=1)

In [31]:
x_train_copy

            age  education  campaign     pdays  previous  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  marital_married  marital_single  default_yes  housing_yes  loan_yes  contact_telephone  month_aug  month_dec  month_jul  month_jun  month_mar  month_may  month_nov  month_oct  month_sep  day_of_week_mon  day_of_week_thu  day_of_week_tue  day_of_week_wed  poutcome_nonexistent  poutcome_success
39075 -1.053709        6.0  0.154139  0.193350  1.673800              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          0.0       0.0                0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0              1.0              0.0              0.0              0.0                   0.0               0.0
34855 -1.053709        6.0  0.517478  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0              0.0             1.0          0.0          0.0       0.0                1.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0                   1.0               0.0
7107   0.477399        2.0 -0.209199  0.193350 -0.349144              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          1.0       0.0                1.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0                   1.0               0.0
31614 -0.575238        6.0 -0.572537  0.193350  1.673800              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0              1.0             0.0          0.0          0.0       0.0                0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0                   0.0               0.0
34878 -0.766626        4.0  2.334170  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              0.0             1.0          0.0          0.0       0.0                0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0                   1.0               0.0
...         ...        ...       ...       ...       ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...              ...             ...          ...          ...       ...                ...        ...        ...        ...        ...        ...        ...        ...        ...        ...              ...              ...              ...              ...                   ...               ...
6265   1.721425        5.0 -0.209199  0.193350 -0.349144              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          0.0       0.0                1.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              1.0              0.0                   1.0               0.0
11284 -0.288155        6.0 -0.572537  0.193350 -0.349144              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          0.0       0.0                1.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0                   1.0               0.0
38158 -0.479543        4.0 -0.572537 -5.182867  1.673800              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          1.0       0.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0              0.0              1.0              0.0              0.0                   0.0               1.0
860   -0.001072        6.0 -0.209199  0.193350 -0.349144              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          1.0       0.0                1.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              0.0              1.0                   1.0               0.0
15795 -1.053709        6.0 -0.209199  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              0.0             1.0          0.0          1.0       0.0                0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0              1.0              0.0              0.0              0.0                   1.0               0.0

[28831 rows x 36 columns]

In [32]:

x_test_copy

            age  education  campaign     pdays  previous  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  marital_married  marital_single  default_yes  housing_yes  loan_yes  contact_telephone  month_aug  month_dec  month_jul  month_jun  month_mar  month_may  month_nov  month_oct  month_sep  day_of_week_mon  day_of_week_thu  day_of_week_tue  day_of_week_wed  poutcome_nonexistent  poutcome_success
32884  1.625730        4.0 -0.572537  0.193350  1.673800              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0              1.0             0.0          0.0          0.0       1.0                0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              1.0              0.0              0.0              0.0                   0.0               0.0
3169   1.434342        6.0 -0.209199  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          1.0       0.0                1.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0                   1.0               0.0
32206 -0.670932        3.0 -0.572537  0.193350  1.673800              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          0.0       0.0                0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0                   0.0               0.0
9403  -0.383849        4.0  0.517478  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          0.0       0.0                1.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0                   1.0               0.0
14020 -1.245098        4.0 -0.209199  0.193350 -0.349144              0.0               0.0            1.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              1.0             0.0          0.0          1.0       0.0                0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0                   1.0               0.0
...         ...        ...       ...       ...       ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...              ...             ...          ...          ...       ...                ...        ...        ...        ...        ...        ...        ...        ...        ...        ...              ...              ...              ...              ...                   ...               ...
15908  0.573094        4.0 -0.209199  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0              1.0             0.0          0.0          1.0       0.0                0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0              1.0              0.0              0.0              0.0                   1.0               0.0
28222 -0.192461        4.0 -0.572537 -5.193674  1.673800              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0              0.0             0.0          0.0          1.0       0.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0              0.0              0.0              1.0              0.0                   0.0               1.0
14194 -1.340792        4.0 -0.209199  0.193350 -0.349144              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0              0.0             1.0          0.0          0.0       1.0                1.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0              1.0              0.0              0.0              0.0                   1.0               0.0
19764  1.051565        5.0  0.154139  0.193350 -0.349144              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0              0.0             0.0          0.0          0.0       1.0                0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0                   1.0               0.0
26052  0.477399        6.0 -0.209199  0.193350  1.673800              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0              1.0             0.0          0.0          0.0       0.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0              0.0              0.0              0.0              1.0                   0.0               0.0

[12357 rows x 36 columns]

Train Logistic Regression and Evaluate the Model

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# 1) Train model
lr = LogisticRegression(max_iter=1000, solver='lbfgs')
lr.fit(x_train_copy, y_train)

# 2) Predict on test set
y_pred = lr.predict(x_test_copy)

# 3) Evaluation
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94     10975
           1       0.00      0.00      0.00      1382

    accuracy                           0.89     12357
   macro avg       0.44      0.50      0.47     12357
weighted avg       0.79      0.89      0.84     12357

/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))


Part 2: Fashion-MNIST Dataset - Image Classification

Load Fashion-MNIST Dataset

The Fashion-MNIST dataset consists of 28x28 grayscale images of fashion items.

In [34]:
(fm_X_train, fm_y_train), (fm_X_test, fm_y_test) = fashion_mnist.load_data()

print(f"Fashion-MNIST Train data shape: {fm_X_train.shape}")
print(f"Fashion-MNIST Train labels shape: {fm_y_train.shape}")
print(f"Fashion-MNIST Test data shape: {fm_X_test.shape}")
print(f"Fashion-MNIST Test labels shape: {fm_y_test.shape}")

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-labels-idx1-ubyte.gz
29515/29515 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-images-idx3-ubyte.gz
26421880/26421880 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-labels-idx1-ubyte.gz
5148/5148 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 1us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-images-idx3-ubyte.gz
4422102/4422102 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 0us/step
Fashion-MNIST Train data shape: (60000, 28, 28)
Fashion-MNIST Train labels shape: (60000,)
Fashion-MNIST Test data shape: (10000, 28, 28)
Fashion-MNIST Test labels shape: (10000,)

In [35]:
print(f"First image {fm_X_train[0]}")
print(f"First label {fm_y_train[0]}")

First image [[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   1   0   0  13  73   0
    0   1   4   0   0   0   0   1   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   3   0  36 136 127  62
   54   0   0   0   1   3   4   0   0   3]
 [  0   0   0   0   0   0   0   0   0   0   0   0   6   0 102 204 176 134
  144 123  23   0   0   0   0  12  10   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0 155 236 207 178
  107 156 161 109  64  23  77 130  72  15]
 [  0   0   0   0   0   0   0   0   0   0   0   1   0  69 207 223 218 216
  216 163 127 121 122 146 141  88 172  66]
 [  0   0   0   0   0   0   0   0   0   1   1   1   0 200 232 232 233 229
  223 223 215 213 164 127 123 196 229   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 183 225 216 223 228
  235 227 224 222 224 221 223 245 173   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 193 228 218 213 198
  180 212 210 211 213 223 220 243 202   0]
 [  0   0   0   0   0   0   0   0   0   1   3   0  12 219 220 212 218 192
  169 227 208 218 224 212 226 197 209  52]
 [  0   0   0   0   0   0   0   0   0   0   6   0  99 244 222 220 218 203
  198 221 215 213 222 220 245 119 167  56]
 [  0   0   0   0   0   0   0   0   0   4   0   0  55 236 228 230 228 240
  232 213 218 223 234 217 217 209  92   0]
 [  0   0   1   4   6   7   2   0   0   0   0   0 237 226 217 223 222 219
  222 221 216 223 229 215 218 255  77   0]
 [  0   3   0   0   0   0   0   0   0  62 145 204 228 207 213 221 218 208
  211 218 224 223 219 215 224 244 159   0]
 [  0   0   0   0  18  44  82 107 189 228 220 222 217 226 200 205 211 230
  224 234 176 188 250 248 233 238 215   0]
 [  0  57 187 208 224 221 224 208 204 214 208 209 200 159 245 193 206 223
  255 255 221 234 221 211 220 232 246   0]
 [  3 202 228 224 221 211 211 214 205 205 205 220 240  80 150 255 229 221
  188 154 191 210 204 209 222 228 225   0]
 [ 98 233 198 210 222 229 229 234 249 220 194 215 217 241  65  73 106 117
  168 219 221 215 217 223 223 224 229  29]
 [ 75 204 212 204 193 205 211 225 216 185 197 206 198 213 240 195 227 245
  239 223 218 212 209 222 220 221 230  67]
 [ 48 203 183 194 213 197 185 190 194 192 202 214 219 221 220 236 225 216
  199 206 186 181 177 172 181 205 206 115]
 [  0 122 219 193 179 171 183 196 204 210 213 207 211 210 200 196 194 191
  195 191 198 192 176 156 167 177 210  92]
 [  0   0  74 189 212 191 175 172 175 181 185 188 189 188 193 198 204 209
  210 210 211 188 188 194 192 216 170   0]
 [  2   0   0   0  66 200 222 237 239 242 246 243 244 221 220 193 191 179
  182 182 181 176 166 168  99  58   0   0]
 [  0   0   0   0   0   0   0  40  61  44  72  41  35   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]]
First label 9

In [36]:

fashion_mnist_class_names = [
    'T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat',
    'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot'
]

# Visualize the images
## Write your code here

### Load Fashion-MNIST Dataset

The Fashion-MNIST dataset consists of 28x28 grayscale images of fashion items.

In [37]:
(fm_X_train, fm_y_train), (fm_X_test, fm_y_test) = fashion_mnist.load_data()

print(f"Fashion-MNIST Train data shape: {fm_X_train.shape}")
print(f"Fashion-MNIST Train labels shape: {fm_y_train.shape}")
print(f"Fashion-MNIST Test data shape: {fm_X_test.shape}")
print(f"Fashion-MNIST Test labels shape: {fm_y_test.shape}")

Fashion-MNIST Train data shape: (60000, 28, 28)
Fashion-MNIST Train labels shape: (60000,)
Fashion-MNIST Test data shape: (10000, 28, 28)
Fashion-MNIST Test labels shape: (10000,)

In [38]:
print(f"First image {fm_X_train[0]}")
print(f"First label {fm_y_train[0]}")

First image [[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   1   0   0  13  73   0
    0   1   4   0   0   0   0   1   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   3   0  36 136 127  62
   54   0   0   0   1   3   4   0   0   3]
 [  0   0   0   0   0   0   0   0   0   0   0   0   6   0 102 204 176 134
  144 123  23   0   0   0   0  12  10   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0 155 236 207 178
  107 156 161 109  64  23  77 130  72  15]
 [  0   0   0   0   0   0   0   0   0   0   0   1   0  69 207 223 218 216
  216 163 127 121 122 146 141  88 172  66]
 [  0   0   0   0   0   0   0   0   0   1   1   1   0 200 232 232 233 229
  223 223 215 213 164 127 123 196 229   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 183 225 216 223 228
  235 227 224 222 224 221 223 245 173   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 193 228 218 213 198
  180 212 210 211 213 223 220 243 202   0]
 [  0   0   0   0   0   0   0   0   0   1   3   0  12 219 220 212 218 192
  169 227 208 218 224 212 226 197 209  52]
 [  0   0   0   0   0   0   0   0   0   0   6   0  99 244 222 220 218 203
  198 221 215 213 222 220 245 119 167  56]
 [  0   0   0   0   0   0   0   0   0   4   0   0  55 236 228 230 228 240
  232 213 218 223 234 217 217 209  92   0]
 [  0   0   1   4   6   7   2   0   0   0   0   0 237 226 217 223 222 219
  222 221 216 223 229 215 218 255  77   0]
 [  0   3   0   0   0   0   0   0   0  62 145 204 228 207 213 221 218 208
  211 218 224 223 219 215 224 244 159   0]
 [  0   0   0   0  18  44  82 107 189 228 220 222 217 226 200 205 211 230
  224 234 176 188 250 248 233 238 215   0]
 [  0  57 187 208 224 221 224 208 204 214 208 209 200 159 245 193 206 223
  255 255 221 234 221 211 220 232 246   0]
 [  3 202 228 224 221 211 211 214 205 205 205 220 240  80 150 255 229 221
  188 154 191 210 204 209 222 228 225   0]
 [ 98 233 198 210 222 229 229 234 249 220 194 215 217 241  65  73 106 117
  168 219 221 215 217 223 223 224 229  29]
 [ 75 204 212 204 193 205 211 225 216 185 197 206 198 213 240 195 227 245
  239 223 218 212 209 222 220 221 230  67]
 [ 48 203 183 194 213 197 185 190 194 192 202 214 219 221 220 236 225 216
  199 206 186 181 177 172 181 205 206 115]
 [  0 122 219 193 179 171 183 196 204 210 213 207 211 210 200 196 194 191
  195 191 198 192 176 156 167 177 210  92]
 [  0   0  74 189 212 191 175 172 175 181 185 188 189 188 193 198 204 209
  210 210 211 188 188 194 192 216 170   0]
 [  2   0   0   0  66 200 222 237 239 242 246 243 244 221 220 193 191 179
  182 182 181 176 166 168  99  58   0   0]
 [  0   0   0   0   0   0   0  40  61  44  72  41  35   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]]
First label 9

### Visualize Fashion-MNIST Images

Let's see what these images look like.

In [39]:
fashion_mnist_class_names = [
    'T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat',
    'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot'
]

# Visualize the images
## Write your code here

### **Exercise 2: Preprocessing Images (Flatten and Scale)**

Images are 2D arrays (matrices of pixels) and pixel values are integers from 0-255. For Logistic Regression, we need:
*  **Flattening:** Convert each 28x28 image into a 1D array of 784 features.
*  **Scaling:** Normalize pixel values from [0, 255] to [0, 1].

**Instructions:**

1.   **Flatten:** Use the `.reshape()` method (see [documentation](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.reshape.html)). For `fm_X_train_binary` (shape `(num_samples, 28, 28)`), you want to reshape it to `(num_samples, 28*28)`.
2.  **Scale:** Divide the flattened pixel values by 255.0 to get values between 0 and 1.
3.   **Train Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
    *   Fit the model on your *processed* `fm_X_train_scaled` and `fm_y_train`.
4.   **Make Predictions:** Use `predict()` to make predictions on the *processed* `fm_X_test_scaled`.
5.   **Print Classification Report:** Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?
6.   **Visualize Misclassifications:**
    *   Find the indices in `fm_X_test_binary` where your model made incorrect predictions (i.e., `fm_y_pred != fm_y_test`).
    *   Select 5 of these misclassified images.
    *   Plot these images (using `plt.imshow`). For each image, print its true label and its predicted label.

In [40]:
# --- YOUR CODE FOR EXERCISE 2 STARTS HERE ---

## Part 3: 20 Newsgroups Dataset - Text Classification

### Load 20 Newsgroups Dataset

The 20 newsgroups dataset comprises around 18000 newsgroups posts on 20 topics.

In [41]:
news_train = fetch_20newsgroups(subset='train', shuffle=True, random_state=42)
news_test = fetch_20newsgroups(subset='test', shuffle=True, random_state=42)

X_train_news, y_train_news = news_train.data, news_train.target
X_test_news, y_test_news = news_test.data, news_test.target

print(f"Number of training documents: {len(X_train_news)}")
print(f"Number of test documents: {len(X_test_news)}")
print(f"Categories: {news_train.target_names}")

Number of training documents: 11314
Number of test documents: 7532
Categories: ['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']

### Explore Sample Document

In [42]:
# Print the first document and its class
## Write your code here

### Preprocessing: Text Vectorization Demonstration with `TfidfVectorizer`

$$
\text{TF-IDF}(t, d, D) = \text{TF}(t, d) \times \text{IDF}(t, D)
$$

Where:

$$
\text{TF}(t, d) = \frac{\text{number of word }t\text{ in } d}{\text{number of words in } d} \quad \text{ and } \quad
\text{IDF}(t, D) = \log\left(\frac{\text{total number of documents}}{\text{number of documents that contain word }t}\right).
$$

In [43]:
sample_sentences = [
    "This is the first document.",
    "This document is the second document.",
    "And this is the third one.",
    "Is this the first document?"
]

vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the sample sentences
sample_vec_output_sparse = # Write your code here

sample_vec_output_dense = sample_vec_output_sparse.toarray()

print(vectorizer.vocabulary_)
print(vectorizer.get_feature_names_out())
print(sample_vec_output_dense)

SyntaxError: invalid syntax (ipython-input-2984329282.py, line 11)

### **Exercise 3: Apply TF-IDF Vectorization to Full Dataset**

Now, apply `TfidfVectorizer` to the actual training and testing datasets for the 20 Newsgroups classification task.

**Instructions:**

1.  **Initialize `TfidfVectorizer`:**
    *   Initialize `TfidfVectorizer`. Use `stop_words='english'` to remove common words.
2.  **Fit and Transform Training Data:**
    *   Call `fit_transform()` on `X_train_news` to learn the vocabulary and transform the training text into TF-IDF features. Store the result in `X_train_vec`.
3.  **Transform Test Data:**
    *   Call `transform()` on `X_test_news` using the *already fitted* vectorizer. Store the result in `X_test_vec`. **Crucially, do not call `fit_transform()` on the test data!** This would cause data leakage.
4.  **Initialize Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
5.  **Train the Model:**
    *   Fit the model on your `X_train_vec` and `y_train_news`.
6.  **Make Predictions:**
    *   Make predictions using `predict()` on the `X_test_vec`.
7.  **Evaluate the Model:**
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [ ]:
# --- YOUR CODE FOR EXERCISE 3 STARTS HERE ---